.App {
  width: 90%;
  margin: 0 auto;
}

.UserManagement {
  margin-top: 3rem;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.users {
  width: 55%
}

.users-table {
  width: 100%;
}

.newUserForm {
  margin-left: 2rem;
  width: 20%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
